/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom style */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: darkslateblue;
}

.main-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 600;
  margin-top: 1.5rem;
  font-size: 2rem;
  font-family: cursive;
  color: #0ab6ab;
}

header {
  text-align: center;
}

ul {
  list-style-type: none;
}

.btn {
  border: none;
  background-color: rgb(255, 106, 0);
  padding: 1rem;
  color: white;
  font-weight: bold;
}

.btn1,
.btn2,
.btn3 {
  margin: 0.5rem 0.5rem;
  padding: 0.25rem 1.25rem;
  font-weight: 600;
  border: none;
}

li #text {
  background-color: #201f1f;
  color: white;
  font-weight: bold;
}

#text {
  width: 100%;
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1rem;
}

i {
  font-size: 2rem;
  color: #d92828;
}
/* for javascript */
.done {
  color: #6c1414;
  text-decoration: line-through;
}
.not-done {
  color: #fff;
}
